.top-title {
  @include font(36px, 700, 1.16, null);
  margin-bottom: 50px;
  text-align: center;
}

/*--------------HERO-------------*/

.hero__title {
  @include font(44px, 900, 1.36, null);
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  color: var(--light-text-color);
}

/*--------------ABOUT-------------*/

.about__title {
  @include font(14px, 700, 1.14, null);
  text-transform: uppercase;
  margin-bottom: 10px;
}

.about__text {
  @include font($lh: 1.7);
  color: var(--text-color);
}

/*--------------WORK-------------*/

.pick-list__text {
  @include font(14px, 700, 1.14, null);
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--light-text-color);
  text-align: center;
  text-transform: uppercase;
  width: 370px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
}

/*--------------TEAM-------------*/

.team-list__title {
  @include font(16px, 500, 1.18, null);
  margin-bottom: 10px;
}

.team-list__text {
  @include font(16px, null, 1.18, null);
  color: var(--text-color);
  margin-bottom: 16px;
}

/*--------------FOOTER-------------*/

.join__title {
  @include font(14px, 700, 1.14, null);
  color: var(--light-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 20px;
}

/*--------------PORTFOLIO-------------*/

.portfolio-hover-text {
  @include font(18px, null, 1.5, null);
  position: absolute;
  top: 0;
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--light-text-color);
  height: 100%;
  padding-top: 63px;
  padding-left: 24px;
  padding-right: 24px;
  transform: translateY(100%);
  transition: transform 250ms linear;
}

.portfolio-title {
  @include font(18px, 700, 2, 0.06em);
  margin-bottom: 4px;
  color: var(--title-color);
}

.portfolio-text {
  @include font(16px, null, 1.8, null);
  color: var(--text-color);
}
