:root {
  --accent-color: #2196f3;
  --accent-hover-color: #188ce8;
  --light-backgound: #f5f4fa;
  --main-background: #ffffff;
  --light-text-color: #ffffff;
  --dark-background: #2f303a;
  --title-color: #212121;
  --text-color: #757575;
  --logo-color: #000000;
  --border-color: #ececec;
  --border-second-color: #eeeeee;
  --icon-color: #afb1b8;
}

$accent-color: #2196f3;
$accent-hover-color: #188ce8;
$light-backgound: #f5f4fa;
$main-background: #ffffff;
$light-text-color: #ffffff;
$dark-background: #2f303a;
$title-color: #212121;
$text-color: #757575;
$logo-color: #000000;
$border-color: #ececec;
$border-second-color: #eeeeee;
$icon-color: #afb1b8;
